body {
  background: #aeaeae;
  text-align: center;
  margin: 30px 0;
}

.hidden {
  display: none !important;
}

#song-box, #no-song {
  display: grid;
  justify-items: center;
  align-items: center;
}

.song {
  background: #333;
  border-radius: 4px;
  display: grid;
  min-width: 600px;
  max-width: 90%;
  padding: 24px 70px 60px 40px;
  grid-template-columns: 1fr 60px auto;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: solid 10px rgba(0, 0, 0, 0);
  transition: all 0.1s ease;
  text-decoration: none;
}

#no-song {
  grid-template-columns: 1fr;
  padding: 24px 40px 40px 24px;
  cursor: default;
}

#song:hover {
  border: solid rgb(36, 36, 228) 10px;
}

.info {
  grid-column: 3;
}


#title, #not-playing {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #cdcdcd;
  font-size: 40px;
  text-align: left;
  min-width: 200px;
}

#not-playing {
  text-align: center;
}

#artist {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #189cc4;
  font-size: 36px;
  text-align: left;
}

#json {
  padding: 20px;
  text-align: left;
  font-size: 18px;
  color: #333;
}

#album {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
}

#album img {
  justify-self: center;
  width: 300px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.55);
  border-radius: 2px;
}

#album-name {
  color: #ccc;
  font-size: 28px;
  justify-content: end;
  align-items: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
